
<!-- post-show -->
<script rel="script" src="/js/posts.js"></script>
<div id="post-content">
    <a href="{{post.url}}" class="lead">{{post.title}}</a>
    <div id="post-data">
        <p class="post-location">Location: {{post.location}}</p>
        <p class="post-date">Date: {{post.createdAt}}</p>
        <p class="post-author">Author: {{post.author.username}}</p>
    </div>
</div>



<form action="/posts/{{post._id}}/comments" method="post">
    <textarea class='form-control' name="content" placeholder="Comment"></textarea>
    <div class="text-right">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>

<h2>Comments</h2>
<div id="error">Errorbox</div>
{{#each post.answers}}
    <div class="answer">
        <div class="answer-scoring">
            <form class="vote-up" data-id="{{this._id}}">
                <div id="vote-up" class="submit-button"></div>
            </form>
            <p id="answer-{{this._id}}" class="answer-score">{{this.voteScore}}</p>
            <form class="vote-down" data-id="{{this._id}}">
                <div id="vote-down" class="submit-button"></div>
            </form>
        </div>
        <div class="answer-content">
            <p class="content-text">{{this.content}}</p>
            <p class="content-author">{{this.author.username}}</p>
        </div>
    </div>
{{/each}}
